 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 62.5%;
}
.navbar{
   position: fixed;

    color: white;
    opacity: 0.85;
    z-index: 999;
   width: 100%;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.btn{
    display: inline-block;
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-primary{
    color: #fff;
    background: #16a083;
}


.nav-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    
}
.nav-container .nav-heading{
font-size: 3rem;
color: black;
margin-left: 1em;
color: white;
}
.nav-container .menu-items{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.nav-container .menu-item{
    list-style: none;
    margin: 0 3rem ;
    font-size: 1.8rem;
 
}
.nav-container a{
    text-decoration: none;
    color: white;
}
.nav-container a:hover{
    color: aqua;
}

.header{
background: url('/home/alind/test1/images/img/header-bg.png');
width: 100%;
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.header-content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
    color: white;
}
.header-content .heading-1{
    padding: 3rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    
}
.header-content .heading-1 h3{
font-size: 3rem;
}
.header-content .heading-2{
    margin-top: 3rem;
    font-size: 4rem;
    text-transform: capitalize;
}
.header-content .heading-1 h3::after{
    content: "";
    display: block;
    border-bottom: 5px solid red;
    width: 100%;
    margin-top: 1rem;
    
}
.header-content a:hover{
    background: #FF6347
} 

/* #####up#### */


.upcoming-events{
    padding: 3rem 0;
}
.upcoming-events-heading{
    text-align: center;
    font-size: 3rem;
    color: #555;
}
.upcoming-events-heading::after{
    content: "";
    display: block;
    
    width: 10%;
    margin-top: 1rem;
    text-align: center;
}
.event-details {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.event-image{
    width: 50%;
    margin: 2rem;
}
.event-image img{
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: right;
    

}


.event-text p{
    margin-top: 1rem;
    font-size: 1.4rem;
    text-align: center;
}
.event-text{
    text-align: center;
    padding: 1rem;
}
.event-text a{
    padding: 2rem;
}
.event-image h1{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
} 

/* #####explore### */

.explore{
    padding: 2rem 0;
    background: url("/home/alind/test1/images/img/bg2.png");
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.explore-container{
    
    display: flex;
    flex-direction: column;
   height: 100%;
   justify-content: center;
}
.explore-heading h1{
    font-size: 4rem;
    color: white;
    margin-bottom: 5rem;
}
.para{
    font-size: 1rem;
    width: 70%;
   text-align: center;
}
.para p{

    color: white;
    margin-bottom: 1rem;
}
.para a{

}
.upcoming{
    padding: 4rem 0;
}
.upcoming-container{
    display: flex;
    justify-content: space-between;
}
.text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    margin: auto;
}
.image{
    width: 50%;
    height: 100%;
}
.image img{
    width: 48%;
}
.text h1{
font-size: 4rem;
margin-bottom: 3rem;
}
.text h1::after{
content: "";
display: block;
border-bottom:4px solid #FF6347;
width: 25%;
margin-top: 1rem;
}
.text p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.last{
    background: #555;
    padding: 4rem;
}
.last-div{
    text-align: center;
   
}
.last-div p{
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 500;
} 



   /* *{
       box-sizing: border-box;
   }
   body{
       font-family: Arial, Helvetica, sans-serif;
   }
   li{
       list-style: none;
   }
   .hamburger-menu{
    position: relative;
 
   }
   .hamburger-menu input{
       display: block;
       width: 40px;
       height: 32px;
       position: absolute;
       top: 15px;
       left: 5px;
       z-index: 999;
       opacity: 0;
   }
   .hamburger-lines{
      width: 40px;
       height: 32px;
      
       position: absolute;
       top: 19px;
       left: 7px;
       z-index: 1;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
   }

 
   .menu-items{
       padding-top: 100px;
       transform: translate(-110%);
       transition: transform .5s ease-in-out;
      color: #fff;
       padding-bottom: 20px;
       padding-left: 18px;
       background: #232323;
       margin-top: -15px;
       margin-left: -15px;
       max-width: 400px;
    width: 90%;
   }
   .hamburger-menu input[type="checkbox"]:checked ~ .menu-items{
     
       transform: translate(0%);
   }
   .hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line{
       background: #fff;

   }
   .menu-items li{
       margin-bottom: 2rem;
       font-size: 1.5rem;
   }
.hamburger-lines .line{
    display: block;
    height: 4px;
    width: 100%;
    background: #232323;
    border-radius: 10px;
}
.hamburger-lines .line1{
transform-origin: 0% 0%;
transition: transform 0.4s ease-in-out;
}
.hamburger-lines .line3{
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line1{
    transform: rotate(45deg);
}
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line3{
    transform: rotate(-45deg);
}
.hamburger-menu input[type="checkbox"]:checked ~ .hamburger-lines .line2{
   display: none;
} */
